/* .figure{
    padding-left: 4%;
    padding-top: 4%;
} */
.figure-caption{
    text-align: center;
    padding-top: 6px;
}

/* .figure,.msg{
  border: 1px solid #ccc;
  padding: 5px;
} */