.heading{
    text-align: center;
    padding: 2%;
    /* display: grid; */
}

.heading2{
    color:orangered;
    font-weight: bolder;
    text-decoration: double;
}

.name{
    font-size: larger;
    font-weight: bold;
    padding-top: 5px;
}